# /dev/ttySAC3
type bluetooth_device, dev_type;

# /dev/block/mmcblk0p[0-9] (/dev/mbin0)
type emmcblk_device, file_type;

# /dev/umts_boot*, /dev/ehci_power
type mif_device, dev_type;

# /dev/rfkill
type rfkill_device, dev_type;

# /dev/seiren
type seiren_device, dev_type;

# /dev/s5p-smem
type secmem_device, dev_type;
