### efs types
type app_efs_file, file_type;
type baro_delta_factoryapp_efs_file, file_type;
type bin_nv_data_efs_file, file_type;
# widewine, drm
type cpk_efs_file, file_type;
type drm_efs_file, file_type;
type factorymode_factoryapp_efs_file, file_type;
type imei_efs_file, file_type;
type prov_efs_file, file_type;
type radio_factoryapp_efs_file, file_type;
type sensor_efs_file, file_type;
type wifi_efs_file, file_type;

### sysfs types
type sysfs_mdnie_writable, fs_type, sysfs_type, mlstrustedobject;
type sysfs_mipi_writable, fs_type, sysfs_type, mlstrustedobject;
type sysfs_multipdp_writable, fs_type, sysfs_type, mlstrustedobject;

allow sysfs_type tmpfs:filesystem associate;
